* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000118;
    color: aliceblue;
    font-family: 'poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    background-color: #00000C;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 8px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover {
    color: rgb(95, 151, 201);
    size: 1rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.firstsection>div {
    width: 40%;
}

.leftsection {
    font-size: 2.5rem;
    margin: 50px 0;
}

.leftsection .button {
    margin: 80px 0;
}

.leftsection .btn {
    padding: 12px;
    background-color: rgb(2, 6, 58);
    color: antiquewhite;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}


.rightsection img {
    width: 80%;

    margin: 50px 0;
}

.purple {
    color: rgb(9, 67, 155);
}

#element {
    color: rgb(9, 67, 155);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 305px;
}

.secondsection .box {
    background-color: rgb(28, 104, 78);
    width: 76vw;
    height: 1px;
    margin: 35px 0px;
    display: flex;
}

main hr {
    border: 0;
    background-color: rgb(28, 104, 78);
    height: 0.8px;
    margin: 60px 84px;
}

secodsection h1 {
    font-size: 1.8px;
}

.t-grey {
    color: grey;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: rgb(28, 104, 78);
    margin: 0 100px;

}

.top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.topp {
    width: 17px;
    position: relative;
    top: 4px;
    left: -6px;
}
.lk{
color: aliceblue;
text-decoration: none;
}
.tit {
    position: relative;
    top: 75px;
    width: 150px;
}

.des {
    position: relative;
    top: 80px;
    color: wheat;
    width: 150px;
    font-size: 9px;
}

footer {
    background-color: #00000C;
}

.flex {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.second ul {
    list-style: none;
}

.footer>div {
    width: 233px;
}

footer .wee {
    text-align: center;
}
@media screen and ( max-width: 800px) {
   .firstsection{
    flex-direction: column-reverse;
    margin: 10px 50px;
   
   }
   .box{
    flex-direction: column-reverse;
   }
   .er{
    color: aqua;
    height: 100px;
}

.secondsection.vertical{
    height: unset;
    top: -100px;
}

.tit,.des{
    left: 35px;
    top: -10px;
}
body{
    min-width: fit-content;
}
.secondsection .box{
    width: 50vw;
    
        background-color: rgb(28, 104, 78);
        width: 76vw;
        height: 1px;
        margin: 35px 0px;
      display: block;
}
nav{
    flex-direction: column;
}
.leftsection{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.rightsection{
    width: 321px !important;
    display: flex;
    align-items: center;
}
.secondsection{
    height: 60vh;
}
.top{
   top: 20px;
}
.footer{
   display: none;
}
 .flex {
     display: block;
    
}

}
